<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C1_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [4]:
uttam=10
print(uttam)

10

In [3]:
a=100
print(a)

100

In [2]:
variable1 = 10 #this is an integer ...no need to specify that it is integer
print(variable1)

10

In [5]:
#printing a statement in python
print("Hello World")

Hello World

In [6]:
print(500)

500

In [7]:
print(variable1)

10

In [8]:
variable1=15
print(variable1)
#python overwrites the value

15

In [12]:
variable2 = 100
variable3 = "skill void"
print(variable1,variable2,variable3)

15 100 skill void

In [14]:
print('this is variable1 -->',variable1,'this is variable2 -->',variable2)

this is variable1 --> 15 this is variable2 --> 100

In [15]:
#sum of two numbers in python

#Type 1: 

10 + 50

60

In [19]:
#Type 2
a=10
b=5
#print(a+b)
a+b #it is concatenate; we can sum only the same datatype

15

In [20]:
#100 + 'skill_void'---------> Type error ( int and str)

TypeError: ignored

In [18]:
a+b
a*b
#the latest operation will be given as output in case of not use of print

50

In [21]:
print(a+b)
print(a*b)

15
50

input() accepts input and stores it as string. Hence, a user inputs an integer,the code should convert string to integer and then proceed

In [25]:
num1 = input('Enetr a number \t')
print(num1)

Enetr a number 	10
10

In [24]:
print(num1+10)  # will throw type error as num1 is a string ....you will have to typecast it first

TypeError: ignored