<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C2_datatypes_dataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# If a bus fare is x and you have a student discount of y%. Find the fare to be paid to conductor
x = float(input('Enter the intial fare:'))
y=float(input('Enter the discout:'))
d_fare=(x-((y*x)/100))
print('The discounted fare to be paid:',d_fare)

Enter the intial fare:120
Enter the discout:5
The discounted fare to be paid: 114.0

***Arithematic Operators***
Addition(+)
Subtraction(-)
Multiplication(*)
Mod(%)
Divison(/)
To the power of(**)
floor division(//)

Python has two different division operands ..... / produces a float and // is integer division( it produces integer)

In [ ]:
8//5

1

In [ ]:
1000//3

333

In [ ]:
1000/3

333.3333333333333

Operator order precedence
1. **
2. -(negation)
3. *,/,//,%(left to right)
4. +(addition), -(subtraction){left to right}

ALSO CALLED AS PEMDAS RULE LIKE BODMAS ***bold text***

In [6]:
5**2 * 6 + 100 - 200

50

In [7]:
# Q1) A patient just turned 95 years old . calculate the age in days.
print('The age of patient in days:',95*365)

The age of patient in days: 34675

In [9]:
#A father reports his son temperature to be 39.1 degree celsius when measured at home. Write an expression to covert it into farehnhite 
print('The temperature in farenhite:',((9*39.1)/5)+32)

The temperature in farenhite: 102.38000000000001

### Simplifying arithematic operations

round() is a function that rounds the input value to a specified number or to the nearest integer

In [10]:
print(round(10.627389))
print(round(115.73848,2))

11
115.74

complex() is used to define a complex number and abs() outputs the absolute value of the same

In [11]:
c = 15 + 2j
type(c), abs(c)

(complex, 15.132745950421556)

In [14]:
c = complex('5+2j')
print(abs(c))
print(c)
print(round(abs(c),3))

5.385164807134504
(5+2j)
5.385

divmod() outputs the quotient and remainder in a tuple in the forom of (quotient,remainder)

In [15]:
divmod(9,2) #......> gives the quotient and remainder when 9 is divided by 2

(4, 1)

pow(x,y,z) gives us the x^y value, also givs=es the mod of this value w.r.t a specified number z

In [16]:
print(pow(2,3))

8

In [17]:
pow(2,3,5) #remainder when 2 is raised to power 3 and divvided by 5

3

Just like in C++ , the assignment operators are the same.....+=....> x=x+()

In [20]:
x =10
x+=7
x

17

**COMPARISON OPERATORS**
These operators will allow us to compare the variables and return the boolean value
The operators are:==,>,<,<=,>=,!=

In [21]:
50 != 2

True

In [22]:
x=5
y=10
x==y

False

== is a comparison operator while = is an ssignment operator

In [23]:
1<2<3

True

The above statement checks that if 1 was less than 2 **and** if 2 was less than 3. We could have written this using **and** statement in python

Logical operators ....> and , or, not are used to combine conditional statements

In [26]:
x=2
#x<5 and x>1
x<1 or x>=2

True

In [28]:
not(2<5)#reverse the result

False

***BITWISE OPERATORS***: &,^,|,>>,<<,~

In [31]:
a=2
b=3
print(a & b)
print(bin(a&b)) #bin means in binary

2
0b10

In [32]:
5 >> 1

2

In [33]:
5<<1

10

**is** operator ....return truw valus if both variables are the same object
**is not** ....return true if both are no the same object

In [36]:
x=5
y=3
x is y

False

In [37]:
print("hello \\")
#\n means next line
#\t means a tab (4 spaces)
#\' single quotation
#\'' double quotaion
#\\ means single backslash

hello \

In [39]:
# Numeric Literal...> there are 4 types of numeric literals : integers, floating point numbers, and imaginary numbers.
#Note: integers in python 3 are of unlimited size while in python 2 there are int and long ....no such thing as 'long int'

b=0b11100 #bunary literals
d=110 #decimal literals
o=0o100 #Ocal literals
u=0x14d #hexadecimal literals

#FLOAT_LITERALS
float1 = 1.23
float2 = 1.5e4 #e - power of 10

#COMPLEX_LITERALS
c=5+3.14j

print(b,d,o,u)
print(float1,float2)
print(c,c.imag,c.real)

28 110 64 333
1.23 15000.0
(5+3.14j) 3.14 5.0

 **List[], Dictionary{}, Tuple(), Sets{}** are some of the data structures in python

In [41]:
#A
print(type([10]))
#B
print(type(10))
#c
print(type((10,14)))
#D
print(type({10}))

<class 'list'>
<class 'int'>
<class 'tuple'>
<class 'set'>

In [42]:
#swap two numbers without using third variable
a=5
b=10
a,b=b,a
print(a,b)

10 5