<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C3_DataStructure_stringFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BASIC LIST METHODS**
It is similar to what we call as arrays . However it is simpler than arrays as we dont have to specify the size of list and they dont have any fixed constraint.

It should be noted that the list indexing will return an error if there is no element present at that index.

We can use sort and reverse to modify our list

In [1]:
a=['a','b','c']

In [10]:
#append is a function/property of lists only
#it is a permanent property , can't be changed once used
a.append(['var1','var2',['var1','var2']])
a[3][2]

['var1', 'var2']

In [6]:
#In order to obtain a particular element, we simply use indexing ----> also known as slicing
#indexing starts from 0 from left
#And from -1 from right

a[1]
print(a[1],a[-1])
print(a[3][0],a[-1][-3])
print(a[3][0],a[-1][-1][-2])

b ['var1', 'var2', ['var1', 'var2']]
var1 var1
var1 var1

In [11]:
# can also update any particular element of list using slicing
a[3][2][1]=99
print(a)

['a', 'b', 'c', ['var1', 'var2', ['var1', 99]], ['var1', 'var2', ['var1', 'var2']], ['var1', 'var2', ['var1', 'var2']], ['var1', 'var2', ['var1', 'var2']]]

In [12]:
#list []
#indexing []
#tuple ()
#sets {}
#dict {}

In [13]:
#use reverse to reverse the elements of list
newlist=['a','b','c','d','e']
newlist.reverse()
newlist

['e', 'd', 'c', 'b', 'a']

In [15]:
#use sort to sort the elemnts of a list alphabetically or numerically(ascending order)
newlist.append(['x'])
newlist

['e', 'd', 'c', 'b', 'a', ['x'], ['x']]

In [21]:
nlist=['a','b','x','d']
nlist.sort()
nlist

['a', 'b', 'd', 'x']

**NESTING OF LISTS**
A great feature of python is that it supports nesting. This means we can have data strucure within data structures. for example a list within a list

In [24]:
#consider 3 lists
l1=['1','2','3']
l2=['4','5','6']
l3=['7','8','9']

#make a list of these 3 to form a matrix
matrix=[l1,l2,l3]

In [25]:
matrix

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [27]:
# We can again use indexing to grab elements but this time we will have 2 levels for the index. The items on the matrix box and then the items in the list

print(matrix[0])
print(matrix[0][0])

['1', '2', '3']
1

In [30]:
nlist.sort(reverse=True)   # True gives descending order while False gives ascending order which is default order of sort
nlist

['x', 'd', 'b', 'a']

**REVERSE,APPEND,SORT,NESTING,SLICING**

**DICTIONARIES**

We have been learning abt sequences in Pyhton but now we are going to switch gears and learn abt mapping in python. W.r.t other languages , it may be compared to hash tables.

It consists of:
1. Constructing a dictionary
2. Accessing objects from a dictionary
3. Nesting dictionaries
4. Basic dictionary methods

Mappings are a collection of an object that are stored in a key, unlike a sequence which stores object by their relative position.
it is an imp distinction,since mapping wont retain order since they have objects defined by a key.

A python dictionary consists of a key and its associated value.The value can be almost any Python object.

**CONSTRUCTING A DICTIONARY**

In [31]:
#make a dictionary using {} and : to signify key and its value 
my_dict={'key1':'value1','key2':'value2'}

In [32]:
#Call value by their key
my_dict['key2']

'value2'

It is imp to note that dictionaries are very flexible for the elements they hold. For ex:

In [44]:
my_dict = {'key1':123,'key2':[12,23,34],'key3':['item0','item1','item2']}

In [38]:
my_dict['key1']*20

400

In [40]:
my_dict['key3'] #gives all elements at that key value

['item0', 'item2', 'item3']

In [51]:
#Lets call an index on that value
print(my_dict['key1'])
print(my_dict['key3'][0:2])  #[start:end-1]

-246
['item0', 'item1']

In [46]:
my_dict['key3'][0].upper()

'ITEM0'

In [52]:
#to subtract 123 from key1
my_dict['key1'] = 123
my_dict['key1']

123

In [53]:
my_dict['key1'] = my_dict['key1']-123  #u cud also have used my_dict['key1']-=123

In [54]:
my_dict['key1']

0

We can also create keys by assignement.For instance, we can create an empty list and continually add keys to it.

In [71]:
d={}

In [70]:
#Create thru assignment
d['animal']='dog'

In [72]:
d['animal']='Cat'
d['animal']

'Cat'

In [73]:
#Can do this with any object
d['answer']=4

In [74]:
d.keys()

dict_keys(['animal', 'answer'])

**NESTING OF DICTIONARIES**

nesting makes life easy......it is also possible to do nesting in dictionaries also.

In [65]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [67]:
#keep calling the keys
print(d['key1'],'    ',d['key1']['nestkey'],'      ',d['key1']['nestkey']['subnestkey'])

{'nestkey': {'subnestkey': 'value'}}      {'subnestkey': 'value'}        value

**A FEW DICTIONARY METHODS**

There are few methods we can on a dictionary.

In [77]:
#Create a typical dictionary
d={'key1':1,'key2':2,'key3':3}

In [78]:
#method to return a dict of keys only
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [79]:
#methid to grab dict of only values
d.values()

dict_values([1, 2, 3])

In [80]:
#method to return tuples of all items 
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [81]:
list(range(1,11)) #range is a generator so it req something like list,tuple etc.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
#in class practice Q1

#multiplication table

n=int(input("enter a number"))

for i in range(1,11):   #(start,end-1) 
     print(n,"X",i,"=",n*i)

enter a number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [84]:
#swapping using multiplication
a=10
b=20
print(a,b)
a=a+b
b=a-b
a=a-b
print(a,b)

10 20
20 10

In [85]:
#swapping using XOR

a=10
b=20
print(a,b)
a=a^b
b=b^a
print(a,b)

10 20
30 10

**STRING FORMATTING:**

String formatting lets you inject items into a string rather than trying chain items together using commas or strings contatenation. As a quick comparison,consider;

player = 'thomas'
points = 33

'Last night, 'player+' , scored '+str(points)+' points.' #concatenation

f'Last night, {player} scored {points} points.'

There are three ways to perform string formatting:


*   The oldest method involves placeholders using the modulus % character
*   An improved technique uses the .format() string method
*   The newest method(python 3.6) uses formatted string literals,called f-strings

FORMATTING WITH PLACEHOLDERS

The % operator is reffered as 'string formatting operator'.

You can use it to inject strings in print statements.

In [87]:
print("I am going to inject %s here" %'something')

I am going to inject something here

In [88]:
print('Welcome to skill void')

Welcome to skill void

In [89]:
print('Welcome to skill %s' %'void')

Welcome to skill void

In [91]:
# YOU CAN INJECT MULTIPLE ITEMS BY PLACING THEM IN A TUPLE AFTER THE %OPERTAOR 

print('I am going to inject %s text here and %s text here' %('some','more'))

I am going to inject some text here and more text here

In [94]:
x ='some'
y='more'
print('I am going to inject %s text here and %s text here' %(y,x))

I am going to inject more text here and some text here

The %s operates whatever it recieves into a string, whether it's a float or integer.

The %d converts numbers into integers first without rounding them.

In [95]:
print('I wrote %s programs today' %3.75)
print('I wrote %d programs today' %3.75)

I wrote 3.75 programs today
I wrote 3 programs today

PADDING AND PRECISION OF FLOATING POINT NUMBERS

Floating point numbers use %5.2f . Here 5 would be the minimum no. if characters the string must contain; these will be padded with white space if the entire number does not have this many digits. Next to this .2f stands for how many numbers to show the past decimal point.

In [100]:
print('floating point numbers: %5.2f' %(13.144))

f: 13.14

In [101]:
print('floating point numbers: %1.0f' %(13.144))

floating point numbers: 13

In [102]:
print('floating point numbers: %1.5f' %(13.144))

floating point numbers: 13.14400

In [103]:
print('floating point numbers: %10.2f' %(13.144))

floating point numbers:      13.14

In [104]:
print('floating point numbers: %25.2f' %(13.144))

floating point numbers:                     13.14

In [109]:
print("%25.2f"%(13.144))
len("%25.2f"%(13.144))

                    13.14

25

MULTIPLE FORMATTING

Nothing prohibits using mkre than one conversation tool in the same print statement

In [113]:
print('first: %s, Second: %5.2f, Third: %r' %('hi',3.1415,'bye!'))

first: hi, Second:  3.14, Third: 'bye!'

**FORMATTING WITH .format method**

A better way to format your objects into strings for print statements is by .format() method. The syntax is:

'String here {} then also {}'.format('something1','something2')

HAVE MANY ADVANTAGES OVER %S METHOD

1. Items can be called by their index

In [114]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

2. Inserted objects can be assigned keywords

In [115]:
print('first object: {a}, Second object: {b}, Third Object: {c}'.format(a=1,b='heheheh',c=12.3))

first object: 1, Second object: heheheh, Third Object: 12.3

3. Inserted objects can be reused, avoiding duplication

In [117]:
print('He %s clever but also %s introvert'%('is','is'))

#v/s

print('He {p} clever but also {p} introvert'.format(p='is'))

He is clever but also is introvert
He is clever but also is introvert

FORMATTED STRING ELEMENTS(F STRINGS)

You can bring outside variables immediately into the strings rather than pass them as arguements tho.

In [118]:
name='Fred'

print(f'His name is {name}.')

His name is Fred.

Pass !r ot get representation

In [120]:
print(f'His name is {name!r}.')

His name is 'Fred'.

FLOAT FORMATTING FOLLOWS: "result: {value:{width}.{precision}}".

With the .format() ,method you might see {value:10.4f}, with f strings they can become {value.{10}.{6}}

In [123]:
num = 23.45678

print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568