<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C4_Conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=['a','b']
print(type(a),len(a))

<class 'list'> 2

CONDITIONAL STATEMENTS:

if,elif,else......

In [5]:
x=10
if(x<25):   #True
  print("x is less than {}".format(25))

x is less than 25

In [8]:
x=10
if(x>25):   #False
  print("x is more than {}".format(25))
else:
  print("x is less tha {p}".format(p=25))

x is less tha 25

In [11]:
x=10
if(x>25):   
  print("x is less than {}".format(x))
print("hello world") #since this line does nit have one tab space it will be printed irrespective of the if statement

hello world

In [12]:
x=10
if(x>25):   #True
  print("x is less than {}".format(x))
  print("deep learning")
print("hello world")
print("machine learning")

hello world
machine learning

In [19]:
#nested if statements 

x=10

if(x<25):
  print("x is less than 25")
  print("hello skillvoid")
  if(x<50):
    print('x is less than 50')
    print('Machine learning')
    if(x>75):
      print('x is less than 75')
    print("sublevel 2 completed")
  print("sublevel 1 completed ")
print("Original level")
print("Hello world")
print("deep learning")

x is less than 25
hello skillvoid
x is less than 50
Machine learning
sublevel 2 completed
sublevel 1 completed
Original level
Hello world
deep learning

In [20]:
#if-else statements

x=26
if(x<50):
  print("x is less than 50")
  print("hello skillvoid")
else:
  print("x is greater than 50")
  print("Hello world")
print("something else")

x is less than 50
hello skillvoid
something else

In [21]:
x=100
if(x<50):
  print("x is less than 50")
  print("hello skillvoid")
else:
  if(x<100):
    print("x is less than 100")
  else:
    print("do nothing")
print("something else")

do nothing
something else

In [23]:
x=10
if(x<50):
  print("x is less than 50")
  print("hello skillvoid")
elif(x<100):
  print("x is less than 100")
else:
  print("do nothing")
print("somethoing else")

x is less than 50
hello skillvoid
somethoing else

WAP to get input from user, and check if it is even or not. Print if it is even r not .

Create a pythin list and and add the input value to it

In [25]:
x = int(input("Enter a number: "))

if(x%2==0):
  print("Even")
else:
  print("Odd")

l=[]
l.append(x)
print(l)

Enter a number: 9
Odd
[9]

In [29]:
#for and while loops 

num=int(input("Enter a number"))
count=0
while count<num :
  print(count)
  count=count+1
else:
  print("after while")

Enter a number6
0
1
2
3
4
5
after while

In [30]:
emp=['john','james','smith']

for name in emp:
  print(name)

john
james
smith

In [31]:
for _ in emp:
  print("executed")

executed
executed
executed

In [32]:
s="welcome"
for i in s:
  print(i)

w
e
l
c
o
m
e

In [33]:
tup1=(1,2,3,4)
for i in tup1:
  print(i)

1
2
3
4

In [38]:
#range
a=range(1,10,3)
a

range(1, 10, 3)

In [39]:
list(a)

[1, 4, 7]