<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C5_Functions_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("Enter the size of pattern: "))
for i in range(1,n+1): #nested for loop
  for j in range(1,i+1):
    print(j,end=" ")   #end is imp for the pattern
  print("\n")

Enter the size of pattern: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
for i in range(1,11):
  if i==5 :
    break
  print(i)
print("something else")

1
2
3
4
something else

In [ ]:
for i in range(1,11):
  if i==5 :
    continue
  print(i)
print("something else")

1
2
3
4
6
7
8
9
10
something else

In [ ]:
for i in range(1,11):
  if i==5 :
    pass  #does nothing 
  print(i)
print("something else")

1
2
3
4
5
6
7
8
9
10
something else

In [ ]:
#check a number is prime
n=int(input("Enter the number to be checked: "))
bool=True
for i in range(2,n):
  if n%i == 0 :
    bool=False
    break
  
if bool:
  print(n,'is a prime')
else:
  print(n,'is not a prime')

Enter the number to be checked: 5
5 is a prime

In [ ]:
#print the cube of a number

while True:
  value=input('Enter a number: ')
  if value=='q':
    print('Exit program(break statement is executed)...')
    break
 
  if not value.isdigit():
    #if input is not a digit move on to next iteration
    print("Enter digits only(continue statement executed)...")
    continue
  value=int(value)
  print('cube of ',value,'is ',value**3)

Enter a number: 5
cube of  5 is  125
Enter a number: 6
cube of  6 is  216
Enter a number: q
Exit program(break statement is executed)...

**FUNCTIONS:**

In comouter programming, a function is known as a section of code that performs a specific task. This typically involves taking some input, manipulating the input and giving the output.

Function in python is defined by 'def' statement followed by the function name and parenthesis ( {} )

In [ ]:
def Example():
  print("good morning")

In [ ]:
Example() #function call

good morning

In [ ]:
Example('hello')

TypeError: ignored

In [ ]:
def SKILL_VOID(x):
  if x=='B.TECH':
    print("Hurray! ")
  else:
    print("Oh! better luck next time")

In [ ]:
SKILL_VOID('B.TECH')

Hurray!

In [ ]:
SKILL_VOID(7)

Oh! better luck next time

In [ ]:
def Ex_2(name):
  print('good morning', name)

In [ ]:
Ex_2('john')

good morning john

In [ ]:
def ex_3(name,age):
  print('good morning',name,'AGE: ',age)

In [ ]:
ex_3('john',34)

good morning john AGE:  34

In [ ]:
def print_msg(string,count=10):
  i=0
  while i<count:
    print(string)
    i+=1

In [ ]:
print_msg('Hiiiii')

Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii

In [ ]:
print_msg('hellu',4)

hellu
hellu
hellu
hellu

In [ ]:
#Python program to illustrate
# *args for variabke number if arguements

def myFun(*args):
  print(type(args))
  for arg in args:
    print(arg)

#if star is not used, it should be given only one arguement but with * you can give any number of args

myFun('hello','welcome','to','deep learning')

<class 'tuple'>
hello
welcome
to
deep learning

In [ ]:
myFun() #no error

<class 'tuple'>

In [ ]:
def my_fun(x,y):
  return x**y

In [ ]:
my_fun(a=10,b=50,c=60)

TypeError: ignored

In [ ]:
d={'key1':123,
   'key2':456,
   'key3':789}
d

{'key1': 123, 'key2': 456, 'key3': 789}

In [ ]:
d.items()

dict_items([('key1', 123), ('key2', 456), ('key3', 789)])

In [ ]:
#**kwargs -------> key word arguements
def myFun(**kwargs):
  print(kwargs)
  print(type(kwargs))
  for key,value in kwargs.items():
           print(f'key: {key} --- value : {value}')

#Driver code
myFun(first='deep',mid='learning',last='DL')

{'first': 'deep', 'mid': 'learning', 'last': 'DL'}
<class 'dict'>
key: first --- value : deep
key: mid --- value : learning
key: last --- value : DL

LAMBDA FUNCTIONS:

lambda arguements : expression

In [2]:
add = lambda a,b:a+b #add is a function in which a,b(temporary variables) are defined for the command of a+B

In [3]:
type(add)

function

In [4]:
add(4,5)

9

**FILTER:**

Syntax:
filter(function,iterable)

In [5]:
list_1=[1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2==0, list_1)
#returns filter object

In [6]:
#convert to list
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

MAP

In [12]:
#map(function,iterable)
list_1=[1,2,3,4,5,6,7,8,9]
map(lambda x: x**3,list_1)

In [13]:
list(map(lambda x: x**3,list_1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

LIST COMPREHENSION:

In [14]:
a=[]
for i in range(1,10):
  a.append(i**2)

In [15]:
a
#This requires 3-4 lines of code

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
#Hence link comprehension can be used to do such things faster
[num**2 for num in list_1]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:

[num**2 for num in list_1 if num%2==0]

[4, 16, 36, 64]

DICTIONARY EXPRESSION:

{key exp: value_exp for exp in iterable}

In [18]:
{i:i**2 for i in list_1}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [19]:
#zip
string=list("abcdefghi")
string

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [24]:
list(zip(string,list_1))

[('a', 1),
 ('b', 2),
 ('c', 3),
 ('d', 4),
 ('e', 5),
 ('f', 6),
 ('g', 7),
 ('h', 8),
 ('i', 9)]

In [23]:
for x,y in zip(string,list_1):
  print(f'{x} and {y}')

a and 1
b and 2
c and 3
d and 4
e and 5
f and 6
g and 7
h and 8
i and 9