<a href="https://colab.research.google.com/github/AaditGoel/Python/blob/main/C5_Functions_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
n=int(input("Enter the size of pattern: "))
for i in range(1,n+1): #nested for loop
  for j in range(1,i+1):
    print(j,end=" ")   #end is imp for the pattern
  print("\n")

Enter the size of pattern: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [6]:
for i in range(1,11):
  if i==5 :
    break
  print(i)
print("something else")

1
2
3
4
something else

In [7]:
for i in range(1,11):
  if i==5 :
    continue
  print(i)
print("something else")

1
2
3
4
6
7
8
9
10
something else

In [8]:
for i in range(1,11):
  if i==5 :
    pass  #does nothing 
  print(i)
print("something else")

1
2
3
4
5
6
7
8
9
10
something else

In [15]:
#check a number is prime
n=int(input("Enter the number to be checked: "))
bool=True
for i in range(2,n):
  if n%i == 0 :
    bool=False
    break
  
if bool:
  print(n,'is a prime')
else:
  print(n,'is not a prime')

Enter the number to be checked: 5
5 is a prime

In [16]:
#print the cube of a number

while True:
  value=input('Enter a number: ')
  if value=='q':
    print('Exit program(break statement is executed)...')
    break
 
  if not value.isdigit():
    #if input is not a digit move on to next iteration
    print("Enter digits only(continue statement executed)...")
    continue
  value=int(value)
  print('cube of ',value,'is ',value**3)

Enter a number: 5
cube of  5 is  125
Enter a number: 6
cube of  6 is  216
Enter a number: q
Exit program(break statement is executed)...

**FUNCTIONS:**

In comouter programming, a function is known as a section of code that performs a specific task. This typically involves taking some input, manipulating the input and giving the output.

Function in python is defined by 'def' statement followed by the function name and parenthesis ( {} )

In [18]:
def Example():
  print("good morning")

In [19]:
Example() #function call

good morning

In [21]:
Example('hello')

TypeError: ignored

In [22]:
def SKILL_VOID(x):
  if x=='B.TECH':
    print("Hurray! ")
  else:
    print("Oh! better luck next time")

In [23]:
SKILL_VOID('B.TECH')

Hurray!

In [24]:
SKILL_VOID(7)

Oh! better luck next time

In [31]:
def Ex_2(name):
  print('good morning', name)

In [32]:
Ex_2('john')

good morning john

In [33]:
def ex_3(name,age):
  print('good morning',name,'AGE: ',age)

In [34]:
ex_3('john',34)

good morning john AGE:  34

In [37]:
def print_msg(string,count=10):
  i=0
  while i<count:
    print(string)
    i+=1

In [38]:
print_msg('Hiiiii')

Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii
Hiiiii

In [39]:
print_msg('hellu',4)

hellu
hellu
hellu
hellu

In [43]:
#Python program to illustrate
# *args for variabke number if arguements

def myFun(*args):
  print(type(args))
  for arg in args:
    print(arg)

#if star is not used, it should be given only one arguement but with * you can give any number of args

myFun('hello','welcome','to','deep learning')

<class 'tuple'>
hello
welcome
to
deep learning

In [45]:
myFun() #no error

<class 'tuple'>

In [48]:
def my_fun(x,y):
  return x**y

In [49]:
my_fun(a=10,b=50,c=60)

TypeError: ignored

In [50]:
d={'key1':123,
   'key2':456,
   'key3':789}
d

{'key1': 123, 'key2': 456, 'key3': 789}

In [51]:
d.items()

dict_items([('key1', 123), ('key2', 456), ('key3', 789)])

In [52]:
#**kwargs -------> key word arguements
def myFun(**kwargs):
  print(kwargs)
  print(type(kwargs))
  for key,value in kwargs.items():
           print(f'key: {key} --- value : {value}')

#Driver code
myFun(first='deep',mid='learning',last='DL')

{'first': 'deep', 'mid': 'learning', 'last': 'DL'}
<class 'dict'>
key: first --- value : deep
key: mid --- value : learning
key: last --- value : DL